In [71]:
from pyspark import SparkContext
from pyspark.sql import SparkSession,SQLContext
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [72]:
rec_df     = spark.read.json('../results/usersrec/')
movies_df  = spark.read.csv('../ml-latest/movies.csv',header=True,inferSchema=True)
ratings_df = spark.read.csv('../ml-latest/ratings.csv',header=True,inferSchema=True)

In [74]:
rec_df.printSchema()
#movies_df.printSchema()
#ratings_df.printSchema()
rec_df.show()

root
 |-- itemId: string (nullable = true)
 |-- itemIndex: long (nullable = true)
 |-- rating: double (nullable = true)
 |-- userId: string (nullable = true)
 |-- userIndex: long (nullable = true)

+------+---------+---------+------+---------+
|itemId|itemIndex|   rating|userId|userIndex|
+------+---------+---------+------+---------+
|153034|    47502|6.8999233| 40992|      145|
|167830|    49074|6.3971386| 40992|      145|
|179845|    50646| 6.155308| 40992|      145|
|184195|    51404| 6.089066| 40992|      145|
|124061|    44864| 6.089066| 40992|      145|
|129683|    45372|5.9753647| 40992|      145|
|148408|    47109| 5.972332| 40992|      145|
|159562|    48183|5.9317083| 40992|      145|
|183363|    51259|5.8757367| 40992|      145|
|146940|    46980| 5.861775| 40992|      145|
|153034|    47502|6.5650244|251665|      200|
|167830|    49074|6.4874845|251665|      200|
|124061|    44864|5.8417153|251665|      200|
|184195|    51404|5.8417153|251665|      200|
|179845|    50646|5.8020363|251665|      200|
|129683|    45372|5.6760497|251665|      200|
|150308|    47282| 5.617823|251665|      200|
|159562|    48183|5.6020775|251665|      200|
|148408|    47109|5.5697393|251665|      200|
|166701|    48944| 5.559518|251665|      200|
+------+---------+---------+------+---------+
only showing top 20 rows

In [75]:
rec_movies_df = rec_df.join(movies_df, rec_df.itemId == movies_df.movieId, 'inner')

In [76]:
watched_movies_df = ratings_df.join(movies_df, ratings_df.movieId == movies_df.movieId, 'inner')\
                          .drop(ratings_df.movieId)

In [77]:
# 16576 - 2136 - 8433
varuser = 8433

### Recommended Movies

In [79]:
rec_movies_df.select('userId','movieId', 'title', 'genres', 'rating') \
             .filter("userId in(" + str(varuser) + ")").sort(rec_movies_df.rating.desc()).show(truncate=False)

+------+-------+--------------------------------------------+--------------------+---------+
|userId|movieId|title                                       |genres              |rating   |
+------+-------+--------------------------------------------+--------------------+---------+
|8433  |153034 |D (2005)                                    |Crime|Drama|Thriller|6.4504957|
|8433  |150308 |I Passed for White (1960)                   |Drama               |5.5751705|
|8433  |77442  |Darkness and Light (Hei an zhi guang) (1999)|Drama               |5.5742846|
|8433  |184195 |Humpty Sharma Ki Dulhania (2014)            |Comedy|Drama|Romance|5.553271 |
|8433  |124061 |Rapture (1965)                              |Drama               |5.553271 |
|8433  |147076 |Twilight for the Gods (1958)                |War                 |5.430531 |
|8433  |129767 |The Police Serve the Citizens? (1973)       |Action|Crime        |5.409882 |
|8433  |183363 |Impasse du d√©sir (2010)                     |Thriller            |5.4096584|
|8433  |188789 |The Cannibal That Walked Free (2007)        |Documentary         |5.3602104|
|8433  |167830 |Freedom Road                                |(no genres listed)  |5.353334 |
+------+-------+--------------------------------------------+--------------------+---------+

### Watched Movies

In [78]:
watched_movies_df.select('userId','movieId', 'title', 'genres') \
                 .filter("userId in(" + str(varuser) + ")").show(truncate=False)

+------+-------+---------------------------------------------------------+-----------------------------------------------+
|userId|movieId|title                                                    |genres                                         |
+------+-------+---------------------------------------------------------+-----------------------------------------------+
|8433  |47     |Seven (a.k.a. Se7en) (1995)                              |Mystery|Thriller                               |
|8433  |150    |Apollo 13 (1995)                                         |Adventure|Drama|IMAX                           |
|8433  |153    |Batman Forever (1995)                                    |Action|Adventure|Comedy|Crime                  |
|8433  |161    |Crimson Tide (1995)                                      |Drama|Thriller|War                             |
|8433  |165    |Die Hard: With a Vengeance (1995)                        |Action|Crime|Thriller                          |
|8433  |231    |Dumb & Dumber (Dumb and Dumber) (1994)                   |Adventure|Comedy                               |
|8433  |253    |Interview with the Vampire: The Vampire Chronicles (1994)|Drama|Horror                                   |
|8433  |292    |Outbreak (1995)                                          |Action|Drama|Sci-Fi|Thriller                   |
|8433  |296    |Pulp Fiction (1994)                                      |Comedy|Crime|Drama|Thriller                    |
|8433  |316    |Stargate (1994)                                          |Action|Adventure|Sci-Fi                        |
|8433  |329    |Star Trek: Generations (1994)                            |Adventure|Drama|Sci-Fi                         |
|8433  |344    |Ace Ventura: Pet Detective (1994)                        |Comedy                                         |
|8433  |349    |Clear and Present Danger (1994)                          |Action|Crime|Drama|Thriller                    |
|8433  |364    |Lion King, The (1994)                                    |Adventure|Animation|Children|Drama|Musical|IMAX|
|8433  |367    |Mask, The (1994)                                         |Action|Comedy|Crime|Fantasy                    |
|8433  |377    |Speed (1994)                                             |Action|Romance|Thriller                        |
|8433  |380    |True Lies (1994)                                         |Action|Adventure|Comedy|Romance|Thriller       |
|8433  |410    |Addams Family Values (1993)                              |Children|Comedy|Fantasy                        |
|8433  |434    |Cliffhanger (1993)                                       |Action|Adventure|Thriller                      |
|8433  |454    |Firm, The (1993)                                         |Drama|Thriller                                 |
+------+-------+---------------------------------------------------------+-----------------------------------------------+
only showing top 20 rows